<p id="notice"><%= notice %></p>

<h1>獨立樂團</h1>
<br/>
<h2>選出你最愛的樂團吧！</h2>
<br/>
<table class="table">
  <thead>
    <tr>
      <th>樂團名稱</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '支持！', upvote_topic_path(topic), class: "btn btn-sm btn-primary", method: :post %></td>
        <td><%= button_to '不支持！', downvote_topic_path(topic), class: "btn btn-sm btn-warning", method: :post %></td>
        <td><%= link_to topic, method: :delete, data: { confirm: '確定要刪除嗎?' } do %>
              <%= fa_icon "trash-o", class: "btn btn-sm btn-danger" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增樂團', new_topic_path %>

<br/>

<%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
