<p id="notice"><%= notice %></p>

<p>
  <strong>樂團名:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>評論:</strong>
  <%= @topic.description %>
</p>

<%= link_to '修改名稱', edit_topic_path(@topic) %> |
<%= link_to '返回', topics_path %>
